@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=Barlow&display=swap");
* {
  font-family: "B612 Mono", monospace;
}
.ownContainer {
  width: 100%;
  min-height: 100vh;
}
.backgroundImage {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./img/steam-summer-sale-adventure.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
}
.mainContent {
  background-color: rgba(68, 169, 170, 0.3);
  color: black;
  margin-top: 5rem;

  font-family: "Barlow", sans-serif;
}
.mainContent div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
  font-family: "Barlow", sans-serif;
}
.mainContent p {
  border-bottom: #00897b solid;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
}
.mainContent a {
  border-bottom: #00897b solid;
  font-family: "Barlow", sans-serif;
  color: black;
  font-weight: bold;
}
.mainContent a:hover {
  scale: 1.1;
  color: brown;
  background-color: antiquewhite;
}

.mainContent h1 {
  border-bottom: #00897b solid;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
}
.content {
  max-width: 650px;
  margin: 10rem 10rem;
}

.content h1 {
  color: #00897b;
  text-transform: uppercase;
  line-height: 80px;
  margin-bottom: 30px;
}
.content span {
  color: white;
}
.fade-in-text {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.picDimensions {
  max-height: 150px;
  min-height: 50px;
}
